.market-price-container {
    display: flexbox;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin-right: 600px;
    
  }
.market-price-container span{
    display: flex;
    gap: 100px;
}

.left-side {
    width: 300px;
}

.result-box {
    margin-top: 50px;
    margin-right: 0px;
    max-width: 600px;
    max-height: 500px;
    background-color: #FFAEAD;

}

.result-box h1 {
    width: 600px;
    height: 600px;
    font-size: 50px;
    text-align: center;
    


}
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .dropdown, .input-text {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

.calculation-button button {
    margin-right: 900px;
    background-color: #FF6966;

  }
  